<div class="card">
   <p-toolbar styleClass="mb-2">
      <ng-template pTemplate="left">    
        
         <button pButton pRipple label="List" icon="pi pi-bars" class="p-button-success mr-2" (click)="backToList()"></button>

         <button pButton pRipple label="Detail" icon="pi pi-pencil" class="p-button-success mr-2" (click)="detail()"></button>
      </ng-template>
   </p-toolbar>

   

<section class="content">
    <div class="container-fluid">
       <div class="row justify-content-around">
          <div class="col-md-11">
             <div class="card card-primary">
                <div class="card-header">
                   <h3 class="card-title">Edit Product</h3>
                </div>
                <div>
                <form method="put" [formGroup]="editProductForm" (ngSubmit)="update()">                   
                   <div class="card-body">                     
                      <div class="form-group">
                         <label for="id"> Product ID</label>
                         <input type="text" class="form-control" id="id" formControlName="id" readonly>
                      </div>
                      <div class="form-group">
                         <label for="name">Product Name</label>
                         <input type="text" class="form-control" id="name" formControlName="name">
                         <div>
                           <div *ngIf="editProductForm.get('name').touched">
                              <div *ngIf="editProductForm.hasError('required', ['name'])">
                                 This field is required.
                              </div>
                              <div *ngIf="editProductForm.hasError('maxLength', ['name'])">
                                 Please enter no more than 250 characters.
                              </div>
                           </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="price">Product Price</label>
                        <input type="text" class="form-control" id="price" formControlName="price">
                        <div>
                           <div *ngIf="editProductForm.get('price').touched">
                              <div *ngIf="editProductForm.hasError('required', ['price'])">
                                 This field is required.
                              </div>
                              <div *ngIf="editProductForm.hasError('max', ['price'])">
                                 Please enter no more than 10 millions.
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="categoryId">Select Category</label>
                        <select class="form-control" formControlName="categoryId">
                            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                        </select>
                     </div>                      
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="status" formControlName="status">
                         <label class="form-check-label" for="status">Active</label>
                      </div>                      
                      <div class="form-group">
                        <label for="description">Description</label>
                        <p-editor formControlName="description" [style]="{'height':'320px'}"></p-editor>
                        <div>
                           <div *ngIf="editProductForm.get('description').touched">
                              <div *ngIf="editProductForm.hasError('required', ['description'])">
                                 This field is required.
                              </div>
                           </div>
                           </div>
                  </div>
                   </div>
                   <div class="card-footer">
                      <button type="submit" class="btn btn-primary">Submit</button>
                   </div>
                </form>
               </div>
               <br>
               <div class="card-primary">
                  <div class="card-header">
                     <h3 class="card-title">Edit Product Photo</h3>
                  </div>
                  <div>
                     <div class="card-body">
                     <div class="form-group">
                        <label for="inputFile">Upload New Photos</label>
                        <div class="input-group">
                           <div class="custom-file">
                              <input type="file" class="custom-file-input" id="inputFile" multiple (change)="selectFile($event)">
                              <label class="custom-file-label" for="inputFile">Choose files ...</label>
                           </div>
                           <div>
                              <input type="button" class="btn btn-primary" value="Upload" (click)="upload()">
                           </div>                            
                        </div>
                     </div>
                     <div>
                        <p-table  #dt [value]="productImages" [rows]="10" [paginator]="true"  responsiveLayout="scroll"
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Product Photos List</h5>                
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Name </th>
                <th>Length </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-productImage>
            <tr>
               
               <td>{{productImage.name}}</td>
                <td>{{productImage.length}}</td>
                <td>                  
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePhoto(productImage.fileId)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{productImages ? productImages.length : 0 }} Photos.
            </div>
        </ng-template>
    </p-table>
                     </div>
                     <br>
                     <div>
                        <h5>Photos View</h5>
                        <p-galleria [value]="productImages" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '660px'}" [numVisible]="5"> 
                            <ng-template pTemplate="item" let-item>
                                <img [src]="item.url" style="width: 100%; display: block;" />
                            </ng-template>
                            <ng-template pTemplate="thumbnail" let-item>
                                <div class="grid grid-nogutter justify-content-center">
                                    <img [src]="item.url" style="width: 30%;" />
                                </div>
                            </ng-template>
                        </p-galleria>
                       </div>
                  </div>
                 </div>
                                 
             </div>             
            </div>                  
       </div>
       </div>
    </div>
 </section>
</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<p-dialog header="Update" [(visible)]="display">
   Done
</p-dialog>
