  
<div class="card">
   <p-toolbar styleClass="mb-2">
       <ng-template pTemplate="left">
              
       </ng-template>
       <ng-template pTemplate="right">
           <input pInputText type="text" placeholder="Search product/client..." [(ngModel)]="keyword"> &nbsp;    
           <button type="button" class="btn bg-gradient-success btn-block" (click)="search()"><i class="fa fa-search"></i></button>    
       </ng-template>
   </p-toolbar> 


   <section class="content">
       <div class="container-fluid">
          <div class="row justify-content-around">
               <div class="col-md-12">
                   <p-table  #dt [value]="feedbacks" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
       [rowHover]="true" dataKey="id"
       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
       <ng-template pTemplate="caption">
           <div class="flex align-items-center justify-content-between">
               <h5 class="m-0">Feedback List</h5>                
           </div>
       </ng-template>
       <ng-template pTemplate="header">
           <tr>
            <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
               <th pSortableColumn="product">Product <p-sortIcon field="product"></p-sortIcon></th>
               <th pSortableColumn="client">Client <p-sortIcon field="client"></p-sortIcon></th>
               <th>Title</th>
               <th>Content</th>   
               <th pSortableColumn="Status">Status <p-sortIcon field="status"></p-sortIcon></th>
               <th></th>
           </tr>
       </ng-template>
       <ng-template pTemplate="body" let-feedback>
           <tr>
            <td>{{feedback.id}}</td>
               <td>{{(feedback.product.length>20)? (feedback.product | slice:0:20)+'...':(feedback.product)}}</td>               
               
                  <td>{{(feedback.client.length>20)? (feedback.client | slice:0:20)+'...':(feedback.client)}}</td>               
               
                  <td>{{(feedback.title.length>50)? (feedback.title | slice:0:50)+'...':(feedback.title)}}</td>               
               
                  <td innerHTML="{{(feedback.content.length>40)? (feedback.content | slice:0:40)+'...':(feedback.content)}}"></td>               
               <td>
                   <span *ngIf="feedback.status; else elseBlock">Active</span>
                   <ng-template #elseBlock>Inactive</ng-template>
               </td>
               <td>
                  <button pButton pRipple icon="pi pi-folder-open" class="p-button-rounded p-button-success mr-2" (click)="detail(feedback.id)"></button>
                   <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="update(feedback.id)"></button>
                   <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(feedback.id)"></button>
               </td>
           </tr>
       </ng-template>
       <ng-template pTemplate="summary">
           <div class="flex align-items-center justify-content-between">
               In total there are {{feedbacks ? feedbacks.length : 0 }} feedbacks.
           </div>
       </ng-template>
   </p-table>
               </div>                  
          </div>
       </div>
    </section>

</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<p-dialog header="Delete" [(visible)]="display">
   Cannot delete
</p-dialog>