  
<div class="card">
   <p-toolbar styleClass="mb-2">
       <ng-template pTemplate="left">    
           <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>    
       </ng-template>
       <ng-template pTemplate="right">
           <input pInputText type="text" placeholder="Search name..." [(ngModel)]="keyword"> &nbsp;    
           <button type="button" class="btn bg-gradient-success btn-block" (click)="search()"><i class="fa fa-search"></i></button>    
       </ng-template>
   </p-toolbar> 


   <section class="content">
       <div class="container-fluid">
          <div class="row justify-content-around">
               <div class="col-md-12">
                   <p-table  #dt [value]="jobs" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
       [rowHover]="true" dataKey="id"
       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
       <ng-template pTemplate="caption">
           <div class="flex align-items-center justify-content-between">
               <h5 class="m-0">Jobs List</h5>                
           </div>
       </ng-template>
       <ng-template pTemplate="header">
           <tr>
               <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
               <th pSortableColumn="jobName">Name <p-sortIcon field="jobName"></p-sortIcon></th>
               <th pSortableColumn="location">Location <p-sortIcon field="location"></p-sortIcon></th>                
               <th pSortableColumn="salary">Salary <p-sortIcon field="salary"></p-sortIcon></th>                
               <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
               <th pSortableColumn="created">Created <p-sortIcon field="created"></p-sortIcon></th>
               <th></th>
           </tr>
       </ng-template>
       <ng-template pTemplate="body" let-job>
           <tr>
               <td>{{job.id}}</td>
               <td>{{(job.jobName.length>50)? (job.jobName | slice:0:50)+'...':(job.jobName)}}</td>
               <td>{{job.location}}</td>
               <td>{{job.salary}}</td>                
               <td>
                   <span *ngIf="job.status; else elseBlock">Active</span>
                   <ng-template #elseBlock>Inactive</ng-template>
               </td>
               <td>{{job.created}}</td>
               <td>
                 <button pButton pRipple icon="pi pi-folder-open" class="p-button-rounded p-button-success mr-2" (click)="detail(job.id)"></button>
                   <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="update(job.id)"></button>
                   <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(job.id)"></button>
               </td>
           </tr>
       </ng-template>
       <ng-template pTemplate="summary">
           <div class="flex align-items-center justify-content-between">
               In total there are {{jobs ? jobs.length : 0 }} jobs.
           </div>
       </ng-template>
   </p-table>
               </div>                  
          </div>
       </div>
    </section>

</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<p-dialog header="Delete" [(visible)]="display">
   Cannot delete
</p-dialog>