
<main class="container">

 <div class="item active">
    <div class="single-slide-item slide1">
      <div class="container">
        <div class="welcome-hero-content">
          <div class="row">
            <div class="col-sm-7">
              <div class="single-welcome-hero">
                <div class="welcome-hero-txt">
                  <h4>great design collection</h4>
                  <h2>{{product.name}}</h2>
                 
                     <p [innerHTML]="product.description"> /p>
                 
                  <div class="packages-price">
                    <p>
                     {{product.price}}$
                      <!-- <del>$ 499.00</del> -->
                    </p>
                  </div>
                  <button class="btn-cart welcome-add-cart" [routerLink]="['/main/client',{id:product.id}]"  id="{{product.id}}">
                    <span class="lnr lnr-plus-circle"></span>
                    Buy <span>Now</span> 
                  </button>
                
                </div><!--/.welcome-hero-txt-->
              </div><!--/.single-welcome-hero-->
            </div><!--/.col-->
            <div class="col-sm-5">
              <div class="single-welcome-hero">
                <div class="welcome-hero-img">
                  <img [src]="url" class="" alt="slider image">
                </div><!--/.welcome-hero-txt-->
              </div><!--/.single-welcome-hero-->
            </div><!--/.col-->
          </div><!--/.row-->
        </div><!--/.welcome-hero-content-->
      </div><!-- /.container-->
    </div><!-- /.single-slide-item-->

  </div>
  </main>