<style>
	@import "bourbon";

body {
	background: #eee !important;	
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-changepassword {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}


	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;

	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}


</style>




	  
<div class="wrapper">
	<form class="form-changepassword" [formGroup]="changepasswordForm" (ngSubmit)="save()" > 
		<h2 class="form-changepassword-heading">Change Password</h2>
		<div class="form-group">

			<div class="col-sm-10">
				<input type="email" class="form-control" id="email" placeholder="Email"
					required="required" formControlName="email">
				<div *ngIf="changepasswordForm.get('email').touched">
					<div *ngIf="changepasswordForm.hasError('required', ['email'])">
						<small class="text-danger"> This field is required.</small>
					</div>
					<div *ngIf="changepasswordForm.hasError('pattern', ['email'])">
						<small class="text-danger"> Please enter a valid email address.</small>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-10">
				<input type="code" class="form-control" id="code" placeholder="code"
					required="required" formControlName="code">
				<div *ngIf="changepasswordForm.get('code').touched">
					<div *ngIf="changepasswordForm.hasError('required', ['code'])">
						<small class="text-danger"> This field is required.</small>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			
			<div class="col-sm-10">
				<input type="password" class="form-control" id="password" placeholder="password"
					required="required" formControlName="password">
				<div *ngIf="changepasswordForm.get('password').touched">
					<div *ngIf="changepasswordForm.hasError('required', ['password'])">
						<small class="text-danger"> This field is required.</small>
					</div>
				
				</div>
			</div>
		</div>

        <!-- <input type="text" class="form-control" formControlName="email" placeholder="email" required="" autofocus="" />  -->
		<!-- <input type="text" class="form-control" formControlName="code" placeholder="code" required="" autofocus="" />
		<input type="password" class="form-control" formControlName="password" placeholder="New Password" required="" autofocus="" /> -->
		<!-- <input type="password" class="form-control" formControlName="confirmpassword"  placeholder="Confirm Password" required=""/>      -->
		<input class="btn btn-lg btn-primary btn-block" type="submit" value="submit" />
    </form>
</div>
